*.exe
*.json
*.cph
*.bin

October/12. h solved on own.cpp
lab.cpp
codeforces.cpp
muneeb.cpp
01 knapsack.cpp
sample.js
tempCodeRunnerFile.js
PDC.cpp
14. 1930m. Unique Length-3 Palindromic Subsequences 